<% layout('/layouts/boilerplate.ejs') %>

<body>
    <div class="error-container">
        <h1>Oops! Something went wrong</h1>
        <div class="error-details">
            <h2><%= statusCode %> - <%= message %></h2>
            <p>We're sorry, but something went wrong. Please try again or go back to the home page.</p>
        </div>
        <a href="/" class="btn-home">Go Home</a>
    </div>
</body> 